{% extends 'base.html' %}

{% load static %}
{% block head %}
<style type="text/css">
    section{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 81vh;
    }
    
.Despedida {
    width: auto;
    height: 40vh;
		margin: auto;
		position: relative;
	-webkit-animation: float 3s linear infinite;
	        animation: float 3s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
	50% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
	50% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
</style>
<title>Cierre Sesión</title>
{% endblock %}

{% block contenido %}

<section>
    <a href="{% url 'index' %}"><h1>Ir al inicio</h1></a>
        <a href="{% url 'index' %}"><img  class="Despedida" src="{% static 'media/Logo.png' %}" alt="logo" /></a>
</section>

{% endblock %}