{% extends 'base.html '%}
{% load static %}
{% block head %}
<link href="{% static 'css/donar.css' %}" rel="stylesheet">
<title>Donar</title>
{% endblock %}
{% block contenido %}
        <section class="content">
            <h2>Donar</h2>
            <div id="banner"></div>
        </section>
        <div class="primerparrafo">
            <h3>AYUDANOS A AYUDAR,CON TU DONACION LO VAMOS A LOGRAR</h3>
            <p>
                Poder donar aqui,al hacer clic lo rediccionara al enlace de mercado pago correspondiente:
            </p>
        </div>
        <div class="cuadrosdonar">
            <div class="cuadro uno">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/cbb7f67b-2bad-48d4-80d0-39f9f369846f/payment-option-form/?preference-id=696415104-cef630ac-5d91-4501-a7be-5170bbb7a3f0&router-request-id=bf308b52-247a-4d52-8147-e190994020b5&p=5586952702dae95a4aaa01ead7dc46c8#/">DONAR $100</a>
            </div>   
            <div class="cuadro dos">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/5cffd306-58cf-4b5b-9adc-46bd0c910a6d/payment-option-form/?router-request-id=d92bc86b-3004-4531-8096-27a664a528ce&preference-id=696415104-4ad86a24-3bdf-462f-a4a2-ba2d75c55b55&p=5586952702dae95a4aaa01ead7dc46c8#/">DONAR $200</a>
            </div> 
            <div class="cuadro tres">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/6da174a5-c32e-4723-b8b3-b3172e3dc4ae/payment-option-form/?preference-id=167898784-147d2e99-f2c3-48a3-b3a1-7016e0f7c097&router-request-id=b91ce324-69b1-49d6-aabf-1bb4cbd428db&p=5586952702dae95a4aaa01ead7dc46c8#/">DONAR $300</a>
            </div> 
            <div class="cuadro cuatro">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/a029f0d6-9311-4cd4-a40c-2e3e6a871154/payment-option-form/?preference-id=696415104-dcbe5054-cb9f-4655-bc3f-91a0df204b52&router-request-id=289c233a-2744-4775-ac18-67d1a8df4bac&p=77f8fc9f4b14602b245a5bf084a43a4b#/">DONAR $500</a>
            </div>   
            <div class="cuadro cinco">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/bd8d2170-57b2-49a0-ab76-20109bc92eec/payment-option-form/?preference-id=167898784-2a8e997a-40ad-4022-a1b9-7709892c4e72&router-request-id=6f408dd6-5c70-469a-a996-8759659f5461&p=77f8fc9f4b14602b245a5bf084a43a4b#/">DONAR $700</a>
            </div> 
            <div class="cuadro seis">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/cbce4914-e1b3-4e28-988e-c34f622bedd6/payment-option-form/?preference-id=696415104-2e99806d-1214-4798-aaa8-128da0748597&router-request-id=c8ea7dc2-6b19-434c-9df4-b06e296421de&p=77f8fc9f4b14602b245a5bf084a43a4b#/">DONAR $1000</a>
            </div> 
            <div class="cuadro siete">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/95e129c1-c3b1-48ec-b80b-0204989daf4a/payment-option-form/?preference-id=696415104-11bc7eb5-ef4e-4d97-8ea8-2f5dfac41fb4&router-request-id=df769a6a-c793-4496-9652-63e292c277fc&p=77f8fc9f4b14602b245a5bf084a43a4b#/">DONAR $2000</a>
            </div>   
            <div class="cuadro ocho">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/28307a8c-0f38-4e35-87e6-11d78908d16a/payment-option-form/?preference-id=696415104-80fcb4c7-3d14-46dd-ac67-f42af70a70a6&router-request-id=6c8a78ca-fd75-46eb-b479-1e9ad5904001&p=77f8fc9f4b14602b245a5bf084a43a4b#/">DONAR $2500</a>
            </div> 
            <div class="cuadro nueve">
                <a class="link" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/87c25463-0600-4998-8c2f-8986fe857b6d/payment-option-form/?router-request-id=f457cc9d-1c4c-44b1-907f-e69757bcc23a&preference-id=696415104-c0bdb43d-d475-4ddb-86ae-7b2053f14634&p=77f8fc9f4b14602b245a5bf084a43a4b#/">DONAR $5000</a>
            </div> 
        </div>
        <div class="segundoparrafo">
            <p>
                Donacion a travez de mercado pago al numero 3624-082451<br>
                CVU mercado pago<br>
                0000003100051311090815<br>
                Alias: casitadelarbolayala<br>CUIT/CUIL: 20262120032<br>

                O tambien poder donar dinero por TRASFERENCIA BANCARIA a la cuenta de la FUNDACION<br>
                Nro de cuenta:111369/OOCBU: 3110030211000111369005<br>
                CUIT N° 30-71686078-0<br>
            </p>
        </div>
            
        {% endblock %}

