<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'media/Logo.png' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{% static 'media/Logo.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'media/Logo.png' %}" sizes="96x96">
        <link rel="stylesheet" href= "{% static 'css/base1.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        
        {% block head %} 
        

        {% endblock %}
    </head>
<body class="bd">
<!-- Menu-->

<header id="header">   


        <div class="logodiv">
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'media/Logo.png' %}" alt="la casita del arbol"></a>
            <a href="{% url 'index' %}" class="logotype">La Casita del Árbol</a>
        </div>

        <nav class="nave">     
            <ul class="cont-ul">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'proyectos'%}">Proyectos</a></li>
                <li><a href="{% url 'notices' %}">Novedades</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>                
            </ul>
        </nav>
    
        <div class="logydondos">
            <div class="logydon">
                <nav class="nave cierre">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <svg width="28" height="30" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.5 12.5H21.5" stroke="#f98012" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.4998 15.5L13.5868 12.587C13.5388 12.539 13.5388 12.461 13.5868 12.413L16.4998 9.5" stroke="#f98012" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.5 5.5V5C16.5 4.17157 15.8284 3.5 15 3.5H5.5C4.39543 3.5 3.5 4.39543 3.5 5.5V19.5C3.5 20.6046 4.39543 21.5 5.5 21.5H15C15.8284 21.5 16.5 20.8284 16.5 20V19.5" stroke="#f98012" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <svg class="login" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #f98012;;transform: msFilter"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                </a>
                
                {% endif %}
                </nav>
                
                    <a href="{% url 'donar' %}"><button class="don">Donar</button></a>
                
            </div>
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                <span></span>
                </label>
            
                <ul class="menu__box">
                  <li><a class="menu__item" href="{% url 'index' %}">Inicio</a></li>
                        <li><a class="menu__item" href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
                        <li><a class="menu__item" href="{% url 'proyectos'%}">Proyectos</a></li>
                        <li><a class="menu__item" href="{% url 'notices' %}">Novedades</a></li>
                        <li><a class="menu__item" href="{% url 'contacto' %}">Contacto</a></li>
                        <li><a class="menu__item" href="{% url 'donar' %}">Donar</a></li>
                        {% if user.is_authenticated %}
                        <li><a class="menu__item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                        {% else %}
                        <li><a class="menu__item" href="{% url 'login' %}">Iniciar sesión</a></li>
                        <li><a class="menu__item" href="{% url 'registro' %}">Registrarse</a></li>
                        {% endif %}
                        
                        
                </ul>
            </div>
        </div>  
        
        
    </header>
   
      <main>
        {% block contenido %}


        {% endblock %}


      </main> 
    <!-- FOOTER -->
    <footer>
        <div class="contac">
            <p>Conecta con nosotros</p><img src="{% static 'media/facebyn.svg' %}" style="width: 1.5vw;">
        </div>
        <p id="copy">Copyright &copy; 2022, Todos los Derechos Reservados Grupo n° 7</p>
        <img id="logobyn" src="{% static 'media/logbyn.png' %}">
    </footer>  
</body>
</html>